# ===========================
# Netlify
# ===========================
.netlify

# ===========================
# Environment
# ===========================
.env
.env.*

# ===========================
# Dependencies
# ===========================
node_modules/

# ===========================
# Build
# ===========================
dist/

# ===========================
# Logs
# ===========================
*.log
npm-debug.log*

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db# Local Netlify folder
.netlify
